<div class="row">
  <div class="col">
    <h2>Task hinzufügen</h2>
    <hr>
    <form (ngSubmit)="onAddTask()">
      <div id="task-data">

        <div class="row">
          <div class="col-sm-5 form-group">
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              class="form-control"
              ngModel
              name="taskName"
            >
          </div>
        </div>
          <div class="row">
            <div class="col-sm-5 form-group">
              <label for="user">Benutzer</label>
              <input
                type="text"
                id="user"
                class="form-control"
                ngModel
                name="userName"
              >
            </div>
          </div>

          <div class="row">
            <div class="col-sm-5 form-group">
              <label for="sprint">Sprint</label>
              <input
                type="text"
                id="sprint"
                class="form-control"
                ngModel
                name="sprintName"
              >
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <button class="btn btn-success" type="submit" routerLink="/ScrumBoard">Task hinzufügen</button>
              <button class="btn btn-primary" type="reset">Zurücksetzen</button>
              <button class="btn btn-warning" type="button" routerLink="/ScrumBoard">Abbrechen</button>
            </div>
          </div>


      </div>
    </form>

  </div>
</div>





<!--




<div class="col-lg-3 col-md-12">
  <form action="">
    <div class="form-group">
      <label for="titel">Name des Task:</label>
      <input type="text" class="form-control" id="titel">
    </div>


    <div class="form-group">
      <label for="info">Beschreibung zum Task:</label>
      <br>
      <textarea name="comment" class="form-control" maxlength="200"></textarea>
    </div>

    <div class="form-group">
      <label for="estHoMP">Benötigter Aufwand in Stunden:</label>
      <input type="number" class="form-control" id="estHoMP">
    </div>

    <div class="form-group">
      <label for="sprintID">Zugeteilter Sprint:</label>
      <input type="number" class="form-control" id="sprintID">
    </div>

    <div class="form-group">
      <label for="backlogID">Zugeteilter Backlog:</label>
      <input type="number" class="form-control" id="backlogID">
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox"> Gelöscht?</label>
    </div>

    <label for="Status">Startus:</label>
    <select name="Status">
      <option value="entwurf">Entwurf</option>
      <option value="toDo">ToDo</option>
      <option value="inBearbeitung">In Bearbeitung</option>
      <option value="zuKlaeren">Zu klären</option>
      <option value="fertig">Fertig</option>
    </select>
    <hr>

    <button type="submit" class="btn btn-default">Speichern</button>
    <button type="submit" class="btn btn-default">Abbrechen</button>
  </form>
</div>-->
