<div>
  <h1>Task einem User und dem Sprint zuordnen</h1>
  <div class="row">
    <table class="table table-responsive">
      <tr valign="top">
        <td valign="top">
          <app-seltask></app-seltask>
        </td>
        <td valign="top">
          <app-seluser></app-seluser>
        </td>
      </tr>
    </table>
  </div>
  <div class="row">

  </div>
<!--  <div class="row">
  <p align="left">
    <button class="btn btn-success" (onclick)="noEdit()">zurück</button>
  </p>
  </div>-->
</div>
