<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" style="font-size: x-large;">WeScrum</a>
    </div>


    <!--ADMIN OPTIONEN-->
    <div class="navbar-default" *ngIf="this.mainService.UserID == 0">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/Admin">
          <u><b>Projekt & User Administration</b></u></a></li>
      </ul>
    </div>


    <!--Nur wenn der Nutzer angemeldet ist, soll er die volle Navbar sehen...-->
    <div class="navbar-default">
      <ul class="nav navbar-nav" *ngIf="selectP">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" *ngIf="this.mainService.scrum">
          <a routerLink="/UserStory">UserStories</a></li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" *ngIf="this.mainService.scrum">
          <a routerLink="/BackLog">Project-Backlog</a></li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" *ngIf="this.mainService.scrum">
          <a routerLink="/SprintPlanning">SprintPlanning</a></li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" *ngIf="this.mainService.scrum">
          <a routerLink="/ScrumBoard">ScrumBoard</a></li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" *ngIf="this.mainService.user">
          <a routerLink="/TaskBoard">TaskBoard</a></li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" *ngIf="this.mainService.scrum">
          <a routerLink="/PlanningPoker">PlanningPoker</a></li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <a routerLink="/BurnDown">BurnDown</a></li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <a routerLink="/Roadmap">Roadmap</a></li>
      </ul>


      <div>
        <ul class="nav navbar-nav navbar-right">
          <li><a>User: {{this.Username}}</a></li>
          <li><a>Projekte:
            <select (change)="selectProject($event.target.value)" [(ngModel)]="selectP">
              <option *ngFor="let allProject of PRL" [ngValue]="allProject.project_ID">
                      <!--(click)="selectProject(allProject.project_ID)"-->

                {{allProject.titel}}
              </option>
            </select>
          </a></li>
          <li><a routerLink="/" (click)="logout()">Logout</a></li>
        </ul>
      </div>

    </div>
  </div>
</nav>


