<div>
  <h3>User</h3>
  <table class="table col-md-5" [mfData]="ppUsers" #mf="mfDataTable" [mfRowsOnPage]="10">
    <thead>
    <tr>
      <th>
        <mfDefaultSorter by="uname">User Name</mfDefaultSorter>
      </th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let allUsers of mf.data">
      <td>{{allUsers.uname}}</td>
      <td>
        <!--<div class="btn-group-sm" role="group">
          <button *ngIf="!allUsers.pp" type="button" class="btn btn-warning" (click)="selectUser(allUsers.user_ID)">
            teilnehmen
          </button>
          <button *ngIf="allUsers.pp" type="button" class="btn btn-warning" (click)="deselectUser(allUsers.user_ID)">
            ausschliessen
          </button>
        </div>-->
      </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="3">
        <mfBootstrapPaginator></mfBootstrapPaginator>
      </td>
    </tr>
    </tfoot>
  </table>
</div>
