
<div class="row">
  <div class="col" >
    <h1>Backlog Item hinzufügen</h1>
    <hr>
    <form (ngSubmit)="onAddBackLog()">
      <div id="backLog-Data">

        <div class="row">
          <div class="col-sm-6 form-group">
            <label for="name">Bezeichnung</label>
            <input
              type="text"
              id="name"
              class="form-control"

            >
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 form-group">
            <label for="beschreibung">Beschreibung</label>
            <textarea type="text"
                   id="beschreibung"
                   class="form-control"
            maxlength="600">
            </textarea>
          </div>
        </div>
        <div class="row">

          <div class="col-sm-6 form-group">
            <button class="btn btn-success" routerLink="/BackLog" type="submit">BackLog Item hinzufügen</button>
            <button class="btn btn-primary" type="reset">Zurücksetzen</button>
            <button class="btn btn-danger" routerLink="/BackLog">Abbrechen</button>
          </div>
        </div>

      </div>
    </form>

  </div>
</div>

