
<div class="row">
  <div class="col">
    <h2>Backlog Item anlegen</h2>
    <hr>
    <form (ngSubmit)="onAddBackLog()">
      <div id="backLog-Data">

        <div class="row">
          <div class="col-sm-5 form-group">
            <label for="name">Bezeichnung des Items</label>
            <input
              type="text"
              id="name"
              class="form-control"
              ngModel
              name="backlogname"
            >
          </div>
        </div>
        <div class="row">
          <div class="col-sm-5 form-group">
            <label for="beschreibung">Beschreibung des Items</label>
            <input type="text"
                   id="beschreibung"
                   class="form-control"
                   ngModel
                   name="backlogbeschreibung"
            >
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn-success" >BackLog Item anlegen</button>
            <button class="btn btn-primary" type="reset">Zurücksetzen</button>
          </div>
        </div>

      </div>
    </form>

  </div>
</div>

