<div class="row">
  <div class="col-xs-10">
    <app-backlog-item></app-backlog-item>
    <hr>
    <app-backlog-item></app-backlog-item>
    <hr>

    <p>
      Hier stehen dann als Liste alle weiteren Backlog Items!
    </p>

    <table [mfData]="backlogitem" #mf="mfDataTable" [mfRowsOnPage]="10">
      <thead>
      <tr>
        <th data-toggle="tooltip" title="Titel des Backlog Items">
          <mfDefaultSorter by="titel">Titel</mfDefaultSorter>
        </th>
        <th data-toggle="tooltip" title="Weitere Informationen">
          <mfDefaultSorter by="info">Info</mfDefaultSorter>
        </th>
        <th data-toggle="tooltip" title="Derzeitiger Status des Items">
          <mfDefaultSorter by="status">Status</mfDefaultSorter>
        </th>
        <th data-toggle="tooltip" title="Prioriät in der Entwicklung">
          <mfDefaultSorter by="priority">Priorität</mfDefaultSorter>
        </th>
        <th>Aktion</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let allBacklogItems of mf.data">
        <td>{{allBacklogItems.titel}}</td>
        <td>{{allBacklogItems.info}}</td>
        <td>{{allBacklogItems.status}}</td>
        <td>{{allBacklogItems.priority}}</td>
        <td>
          <div class="btn-group-sm" role="group">
            <button type="button" class="btn btn-warning"
                    [routerLink]="['../backlog-item-detail', allBacklogItems.bli_Id]">Bearbeiten
            </button>
          </div>
      </tr>
      </tbody>
    </table>
  </div>
</div>

