<div class="container">

  <legend class="page-header">Anmeldung</legend>

  <div class="row">
    <div class="col-xs-12">
      <form>
        <div class="row">
          <div class="col-sm-5 form-group">
            <label for="name">Benutzername</label>
            <input type="text" id="name" class="form-control">
          </div>
        </div>
        <div class="row">

          <div class="col-sm-5 form-group">
            <label for="password">Passwort</label>
            <input type="password" id="password" class="form-control">
          </div>


        </div>
        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn-success" type="submit" (click)="anmelden(name,passwort)">Anmelden</button>
            <button class="btn btn-primary" type="button">Zurücksetzen</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

