<p>
  scrum-board works! hihih
</p>



<h2>Scrum Board</h2>
<p>eventuel Beschreibung</p>
<table class="table">
  <thead>
  <tr>
    <th style='min-width: 100px' >Mitglieder</th>
    <th style='min-width: 100px'>Story</th>
    <th style='min-width: 150px'>To Do</th>
    <th style='min-width: 150px'>In Bearbeitung</th>
    <th style='min-width: 150px'>Zur Klärung</th>
    <th style='min-width: 150px'>Fertig</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Felix</td>
    <td>Backlog 1</td>
    <td><a href="http://localhost:4200/ScrumBoard/Task">Task 1</a></td>
    <td>--</td>
    <td><a href="http://localhost:4200/ScrumBoard/Task">Task 2</a></td>
    <td>--</td>
  </tr>

  <tr>
    <td>Michi</td>
    <td>Backlog 2</td>
    <td><a href="http://localhost:4200/ScrumBoard/Task">Task 6</a></td>
    <td><a href="http://localhost:4200/ScrumBoard/Task">Task 5</a></td>
    <td>--</td>
    <td><a href="http://localhost:4200/ScrumBoard/Task">Task 3</a></td>
  </tr>
  <tr>
    <td>Horst</td>
    <td>Backlog 3</td>
    <td>--</td>
    <td><a href="http://localhost:4200/ScrumBoard/Task">Task 9</a></td>
    <td><a href="http://localhost:4200/ScrumBoard/Task">Task 4</a></td>
    <td>--</td>

  </tr>
  <tr>
    <td>Johanna</td>
    <td>Backlog 4</td>
    <td><a href="http://localhost:4200/ScrumBoard/Task">Task 10</a></td>
    <td>--</td>
    <td>--</td>
    <td><a href="http://localhost:4200/ScrumBoard/Task">Task 7</a></td>

  </tr>
  <tr>
    <td>Mr X</td>
    <td>Backlog 5</td>
    <td>--</td>
    <td><a href="http://localhost:4200/ScrumBoard/Task">Task 8</a></td>
    <td><a href="http://localhost:4200/ScrumBoard/Task">Task 11</a></td>
    <td><a href="http://localhost:4200/ScrumBoard/Task">Task 12</a></td>
  </tr>

  </tbody>
</table>