<div class="container" *ngIf="taskeditor == false">

  <h1>ScrumBoard</h1>

  <hr>


  <table class="table table-responsive" [mfData]="taskitem" #mf="mfDataTable" [mfRowsOnPage]="50">
    <thead>
    <tr>
      <th title="To Do">
        Entwurf
      </th>
      <th title="To Do">
        To Do
      </th>
      <th title="In Bearbeitung">
        In Bearbeitung
      </th>
      <th title="Zu Klärung">
        Zur Klärung
      </th>
      <th title="Fertig">
        Fertig
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let allTasks of mf.data; let i = index" >
      <td [dragula]="todo">
    <tr *ngFor="let allTasks of mf.data; let i = index">
      <td [dragula]="entwurf">
        <button type="button" class="btn btn-warning" *ngIf="taskitem[i].status == 'Entwurf'"
                (click)="clickedOnEdit(allTasks.task_ID)">{{allTasks.titel}}
        </button>
      </td>
      <td [dragula]="todo">>
        <button type="button" class="btn btn-warning" *ngIf="taskitem[i].status == 'ToDo'"
                (click)="clickedOnEdit(allTasks.task_ID)" >{{allTasks.titel}}
        </button>
      </td>
      <td [dragula]="inbearbeitung">
        <button type="button" class="btn btn-default" *ngIf="taskitem[i].status == 'InBearbeitung'"
                (click)="clickedOnEdit(allTasks.task_ID)" >{{allTasks.titel}}
        </button>
      </td>
      <td [dragula]="zuklaeren">
        <button type="button" class="btn btn-danger" *ngIf="taskitem[i].status == 'ZuKlaeren'"
                (click)="clickedOnEdit(allTasks.task_ID)" >{{allTasks.titel}}
        </button>
      </td>
      <td [dragula]="fertig">
        <button type="button" class="btn btn-success" *ngIf="taskitem[i].status == 'Fertig'"
                (click)="clickedOnEdit(allTasks.task_ID)" >{{allTasks.titel}}
        </button>
      </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="7">
        <mfBootstrapPaginator [rowsOnPageSet]="[50]"></mfBootstrapPaginator>
      </td>
    </tr>
    </tfoot>
  </table>
</div>

<div *ngIf="taskeditor == true">
  <h1>Task bearbeiten</h1>
  <hr>
  <form>
    <div>
      <div class="col-md-10 form-group">
        <label for="titel">Name</label>
        <input type="text" id="titel" class="form-control" [(ngModel)]="taskitem[editTaskID].titel" name="titel" readonly>
      </div>
      <div class="col-md-10 form-group">
        <label for="info">Information</label>
        <input type="text" id="info" class="form-control" [(ngModel)]="taskitem[editTaskID].info" name="info" readonly>
      </div>
      <div class="col-md-5 form-group">
        <label for="status">Bearbeitungs Status</label>
        <input type="text" id="status" class="form-control" [(ngModel)]="taskitem[editTaskID].status" name="status">
      </div>
      <div class="col-md-5 form-group">
        <label for="erstelldatum">Erstellt am</label>
        <input type="text" id="erstelldatum" class="form-control" [(ngModel)]="taskitem[editTaskID].erstelldatum"
               name="erstelldatum" readonly>
      </div>
      <div class="col-md-4 form-group">
        <label for="estHoMP">Geschätzter Zeitaufwand (1 bis 20)</label>
        <input type="text" id="estHoMP" class="form-control" [(ngModel)]="taskitem[editTaskID].estHoMP" name="estHoMP">
      </div>
      <div class="col-md-2 form-group">
        <label for="sprint_ID">Sprint ID</label>
        <input type="text" id="sprint_ID" class="form-control" [(ngModel)]="taskitem[editTaskID].sprint_ID"
               name="sprint_ID" readonly>
      </div>
      <div class="col-md-2 form-group">
        <label for="backlog_ID">Backlog Item ID</label>
        <input type="text" id="backlog_ID" class="form-control" [(ngModel)]="taskitem[editTaskID].backlog_ID"
               name="backlog_ID" readonly>
      </div>
      <div class="col-md-10">
        <button class="btn btn-success" (click)="updTask()">Änderung speichern</button>
        <button class="btn btn-group-vertical btn-warning" (click)="noEdit()">Abbrechen</button>
      </div>
    </div>
  </form>

</div>

