<p>
  scrum-board works! hihih
</p>



<h2>Scrum Board</h2>
<p>eventuel Beschreibung</p>
<table class="table">
  <thead>
  <tr>
    <th style='min-width: 100px' >Mitglieder</th>
    <th style='min-width: 100px'>Story</th>
    <th style='min-width: 150px'>To Do</th>
    <th style='min-width: 150px'>In Bearbeitung</th>
    <th style='min-width: 150px'>Zur Klärung</th>
    <th style='min-width: 150px'>Fertig</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Felix</td>
    <td>Backlog 1</td>
    <td>Task1</td>
    <td>--</td>
    <td>Task 2</td>
    <td>Task 5</td>
  </tr>
  </tbody>
</table>


