<div class="row">
  <div class="col">
    <h2>User hinzufügen</h2>
    <hr>
    <form (ngSubmit)="onSubmit()" #newsprintForm="ngForm">
      <div id="user-Data">

        <div class="row">
          <div class="col-md-10 form-group">
            <label for="email">Benutzername Name</label>
            <input type="text" id="email" class="form-control"
                   [(ngModel)]="uname" name="uname">
          </div>
<!--          <div class="row">
            <div class="col-md-10 form-group">
              <label for="email">E-Mail</label>
              <input type="text" id="titel" class="form-control"
                     [(ngModel)]="email" name="email">
            </div>-->
          </div>
          <div class="row">
            <div class="col-md-10 form-group">
              <label for="passwd">Passwort</label>
              <input type="text" id="passwd" class="form-control"
                     [(ngModel)]="passwd" name="passwd">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button class="btn btn-success" type="submit">User anlegen</button>
              <button class="btn btn-primary" type="reset">Zurücksetzen</button>
              <button class="btn btn-group-vertical btn-warning" routerLink="/Admin">Abbrechen</button>
            </div>
          </div>

        </div>
    </form>

  </div>
</div>

