<div>
  <h3>Tasks</h3>
  <table class="table col-md-5" [mfData]="unastask" #mf="mfDataTable" [mfRowsOnPage]="10">
    <thead>
    <tr>
      <th>
        <mfDefaultSorter by="titel">Task Titel</mfDefaultSorter>
      </th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let allTasks of mf.data">
      <td>{{allTasks.titel}}</td>
      <td>{{allTasks.info}}</td>
      <td>
        <div class="btn-group-sm" role="group">
          <button type="button" class="btn btn-warning" (click)="selectTask(allTasks.task_ID)">
            Task auswählen
          </button>
        </div>
      </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="7">
        <mfBootstrapPaginator></mfBootstrapPaginator>
      </td>
    </tr>
    </tfoot>
  </table>
</div>
