<div *ngIf="main">
  <h1>User Rollen Steuerung</h1>
  <div *ngIf="!rolleditor">
    <p align="right">
      <button class="btn btn-success" routerLink="/Projekt/AddUser">User hinzufügen</button>
    </p>
    <div>
      <table class="table table-responsive" [mfData]="asuseritem" #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead>
        <tr>
          <th title="User Name">
            <mfDefaultSorter by="uname">User Name</mfDefaultSorter>
          </th>
          <th colspan="3"></th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let allUser of mf.data">
          <td>{{allUser.uname}}</td>
          <td><label *ngIf="allUser.scrum===1">Scrum Master</label></td>
          <td><label *ngIf="allUser.user===1">User</label></td>
          <td><label *ngIf="allUser.stake===1">Observing StakeHolder</label></td>
          <td>
            <button type="button" class="btn btn-warning" (click)="rechte(allUser.uri_ID)">
              Berechtigungen
            </button>
          </td>
          <td>
            <button type="button" class="btn btn-warning" (click)="deleteuserfromProject(allUser.uri_ID)">
              User vom Projekt entfernen
            </button>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="7">
            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,50]"></mfBootstrapPaginator>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <p align="left">
    <button class="btn btn-success" routerLink="/Admin">zurück</button>
  </p>
</div>

<div *ngIf="rolleditor">
  <form>
    <div>
      <div class="col-md-10 form-group">
        <label for="uname">Name</label>
        <input type="text" id="uname" class="form-control" [(ngModel)]="asuseritem[editUriID].uname" name="titel"
               readonly>
      </div>
      <div class="col-md-5 form-group">
        <label *ngIf="asuseritem[editUriID].scrum===1">Scrum Master</label>
        <label *ngIf="asuseritem[editUriID].user===1">User</label>
        <label *ngIf="asuseritem[editUriID].stake===1">Observing StakeHolder</label>
      </div>
      <div class="col-md-4 form-group">
        <label for="sel">Neue rolle im Projekt:</label>
        <select id="sel" [(ngModel)]="selRoll" class="form-control" (click)="selectRoll()" name="sel">
          <option value=0></option>
          <option value=1>Scrum Master</option>
          <option value=2>Scrum Master & User</option>
          <option value=3>User</option>
          <option value=4>Observing Stakeholder</option>
        </select>
      </div>
      <div class="col-md-12">
        <button class="btn btn-success" *ngIf="selRollset==true" (click)="updURI()">Änderung speichern</button>
        <button class="btn btn-group-vertical btn-warning" (click)="noEdit()">Abbrechen</button>
      </div>
    </div>
  </form>
</div>

<div *ngIf="setroll">
  <form>
    <div class="col-md-12">
      <button class="btn btn-success" (click)="rollSet()">Berechtigungen geändert</button>
    </div>
  </form>
</div>
