<div>
  <h1>User Rollen Steuerung</h1>
  <div *ngIf="!addeditor">
     <p align="right">
      <button class="btn btn-success" routerLink="/Projekt/AddUser">User hinzufügen</button>
    </p><div>
      <table class="table table-responsive" [mfData]="asuseritem" #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead>
        <tr>
          <th title="User Name">
            <mfDefaultSorter by="uname">User Name</mfDefaultSorter>
          </th>
          <th></th>
          <th>Rechte</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let allUser of mf.data">
          <td>{{allUser.uname}}</td>
          <td>
            <div class="btn-group-sm" role="group">
              <button type="button" class="btn btn-warning" (click)="deleteuserfromProject(allUser.uri_ID)">
                User vom Projekt entfernen
              </button>
            </div>
          </td>
          <td>rechte</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="7">
            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,50]"></mfBootstrapPaginator>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>

<div *ngIf="addeditor">
  <table class="table col-md-3" [mfData]="useritem" #mf="mfDataTable" [mfRowsOnPage]="10">
    <thead>
    <tr>
      <th title="User Name">
        <mfDefaultSorter by="uname">User Name</mfDefaultSorter>
      </th>
      <th>Rechte</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let allUser of mf.data">
      <td>{{allUser.uname}}</td>
      <td>test
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="7">
        <mfBootstrapPaginator [rowsOnPageSet]="[10,20,50]"></mfBootstrapPaginator>
      </td>
    </tr>
    </tfoot>
  </table>
</div>
